<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

    <style>

        #div-left {
            width: 20%;
            height: 1000px;
            float: left;
            background-color: #e9ecef;
        }

        #div-content {
            width: 80%;
            height: 1000px;
            float: left;
            background-color: white;
        }
        .text-left {
            margin-top:20px;
            margin-left:20px;
            font-size:18px;
            text-decoration:none
        }
        
    </style>
</head>

<body>
    <div id="div-top">
        <nav class="navbar navbar-expand-sm" id="div-menu">
            <div class="container-fluid">
                <a class="navbar-brand" id="id-logo" href="#" style="font-size:40px;">Trang Admin</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="collapsibleNavbar">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="Index" style="font-weight:normal;">Quản lý nhân viên</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="" style="font-weight:normal;">Liên hệ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" style="font-weight:normal;">Thông tin</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div id="div-left">
        @*<div class="container mt-3">
                <div class="dropdown">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown">
                        Quản Lý Nhân Viên
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="Create">Thêm nhân viên</a></li>
                    </ul>
                </div>
            </div>*@
        </div>
        <div id="div-content" style="padding:10px">
            @RenderBody()
        </div>
</body>
</html>
