<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Grey+Qo&display=swap" rel="stylesheet">
    <link href="~/Content/mycss/mystyle.css" rel="stylesheet" />
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <style>
        body {
            font-family: Arial;
            margin: 0;
        }

        * {
            box-sizing: border-box;
        }

        img {
            vertical-align: middle;
        }

        /* Position the image container (needed to position the left and right arrows) */
        .container {
            position: relative;
        }

        /* Hide the images by default */
        .mySlides {
            display: none;
        }

        /* Add a pointer when hovering over the thumbnail images */
        .cursor {
            cursor: pointer;
        }

        /* Next & previous buttons */
        .prev,
        .next {
            cursor: pointer;
            position: absolute;
            top: 40%;
            width: auto;
            padding: 16px;
            margin-top: -50px;
            color: white;
            font-weight: bold;
            font-size: 20px;
            border-radius: 0 3px 3px 0;
            user-select: none;
            -webkit-user-select: none;
        }

        /* Position the "next button" to the right */
        .next {
            right: 0;
            border-radius: 3px 0 0 3px;
        }

            /* On hover, add a black background color with a little bit see-through */
            .prev:hover,
            .next:hover {
                background-color: rgba(0, 0, 0, 0.8);
            }

        /* Number text (1/3 etc) */
        .numbertext {
            color: #f2f2f2;
            font-size: 12px;
            padding: 8px 12px;
            position: absolute;
            top: 0;
        }

        /* Container for image text */
        .caption-container {
            text-align: center;
            background-color: #222;
            padding: 2px 16px;
            color: white;
            width: 1310px;
        }

        .row:after {
            content: "";
            display: table;
            clear: both;
        }

        /* Six columns side by side */
        .column {
            float: left;
            width: 16.66%;
        }

        /* Add a transparency effect for thumnbail images */
        .demo {
            opacity: 0.6;
        }

            .active,
            .demo:hover {
                opacity: 1;
            }

        .mySlides {
            width: 100%;
        }

        .nav-link:hover {
            background-color: tan;
        }

        .fm-gt-footer {
            font-size: 15px;
            margin-left: 20px;
        }

        .fm-img-footer {
            width: 240px;
            height: 240px;
        }

        #div-footer {
            width: 100%;
            clear: both;
            height: auto;
        }

        #div-menu {
            background-color: #1B4332;
        }

        #id-logo {
            font-size: 40px;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-sm" id="div-menu">
        <div class="container-fluid">
            <a class="navbar-brand" id="id-logo" href="#" style="font-size:40px;">Cafe</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#" style="font-weight:normal;">Sản phẩm</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" style="font-weight:normal;">Liên hệ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" style="font-weight:normal;">Thông tin</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="mySlides">
            <div class="numbertext">1 / 3</div>
            <img src="~/Content/Image/banner001.png" style="width: 1310px; height: 500px;" />
        </div>

        <div class="mySlides">
            <div class="numbertext">2 / 3</div>
            <img src="~/Content/Image/banner002.jpg" style="width: 1310px; height: 500px " />
        </div>

        <div class="mySlides">
            <div class="numbertext">3 / 3</div>
            <img src="~/Content/Image/banner003.png" style="width: 1310px; height: 500px " />
        </div>

        <a class="prev" onclick="plusSlides(-1)">❮</a>
        <a class="next" onclick="plusSlides(1)">❯</a>

        <div class="caption-container">
            <p id="caption"></p>
        </div>

        <div class="row">
            <div class="column">
                <img class="demo cursor" src="~/Content/Image/banner001.png" style="width:100% ;height:75px;" onclick="currentSlide(1)" alt="Khuyến mãi hè">
            </div>
            <div class="column">
                <img class="demo cursor" src="~/Content/Image/banner002.jpg" style="width: 100%;height:75px; " onclick="currentSlide(2)" alt="Tháng trăng rằm">
            </div>
            <div class="column">
                <img class="demo cursor" src="~/Content/Image/banner003.png" style="width: 100%; height:75px; " onclick="currentSlide(3)" alt="Phin sữa đá">
            </div>


        </div>
    </div>
    <script>let slideIndex = 1;
        showSlides(slideIndex);

        function plusSlides(n) {
            showSlides(slideIndex += n);
        }

        function currentSlide(n) {
            showSlides(slideIndex = n);
        }

        function showSlides(n) {
            let i;
            let slides = document.getElementsByClassName("mySlides");
            let dots = document.getElementsByClassName("demo");
            let captionText = document.getElementById("caption");
            if (n > slides.length) { slideIndex = 1 }
            if (n < 1) { slideIndex = slides.length }
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" active", "");
            }
            slides[slideIndex - 1].style.display = "block";
            dots[slideIndex - 1].className += " active";
            captionText.innerHTML = dots[slideIndex - 1].alt;
        }</script>
    <!--<div class="container-fluid">
        <div class="row">-->
    @*<div class="col-lg-2">
            <marquee direction="up" height="auto">
                <img src="~/Content/Image/com-tron-han-quoc.jpg" style="display:block;width:100px;height:100px;margin-bottom:10px;" />
                <img src="~/Content/Image/ga-chien-han-quoc.jpg" style="display:block;width:100px;height:100px;margin-bottom:10px;" />
                <img src="~/Content/Image/thit-nuong-bbq.jpg" style="display:block;width:100px;height:100px;margin-bottom:10px;" />
                <img src="~/Content/Image/tobboki.jpg" style="display:block;width:100px;height:100px;margin-bottom:10px;" />
                <img src="~/Content/Image/kim-chi-ham-gio-heo.jpg" style="display:block;width:100px;height:100px;margin-bottom:10px;" />

            </marquee>
        </div>*@

    @*</div>

        </div>*@
    <div id="div-content-001">
        @RenderBody()
    </div>
    <div id="div-footer" style="background-color: #1B4332; ">
        <div class="row">
            <div class="col-sm-4 col-md-4 col-lg-4" style="margin-top: 30px; width: 450px;">
                <div class="fm-gt-footer" style="color:white">
                    <h4>VỀ CHÚNG TÔI</h4>
                    <p>KATINAT – HÀNH TRÌNH CHINH PHỤC PHONG VỊ MỚI</p>
                    <p>KATINAT không ngừng theo đuổi sứ mệnh mang phong vị mới từ những vùng đất trứ danh tại Việt Nam và trên thế giới đến khách hàng.</p>
                    <h4>LIÊN HỆ</h4>
                    <p>
                        Email: cs@katinat.vn
                        <br />
                        Representative Store : 91 Đồng Khởi, Bến Nghé, Quận 1, Thành Phố Hồ Chí Minh
                    </p>
                </div>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4" style="margin-top: 30px; width: 450px">
                <div class="fm-gt-footer" style="color:white">


                    <h4>HỖ TRỢ VÀ CHÍNH SÁCH</h4>
                    <p>
                        – Quy chế hoạt động và Chính sách bảo mật.
                        <br />
                        – Chính sách thanh toán.
                        <br />
                        – Chính sách thanh toán.
                    </p>
                    <p>
                        Giấy chứng nhận Đăng kí kinh doanh số 0316612746 do Sở Kế hoạch và Đầu tư. Thành phố Hồ Chí Minh cấp ngày 27/11/2020.

                    </p>
                </div>
                <div>

                    <a href="https://www.instagram.com/katinatvn">
                        <img src="~/Content/Image/logoigtrangreal.png" style="margin-left: 50px; margin-top: 30px; width: 30px; height: 30px" />

                    </a>
                    <a href="https://www.facebook.com/katinat.vn">
                        <img src="~/Content/Image/iconfb.png" style="margin-left: 50px; margin-top: 30px; width: 30px; height: 30px" />
                    </a>
                </div>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4" style="margin-left: 200px; margin-top: 30px; width: 300px">
                <div>
                    <img src="~/Content/Image/Ungdungreal.png" class="fm-img-footer" />

                </div>

            </div>
        </div>

    </div>

</body>
</html>
