/* BEGIN EXTERNAL SOURCE */
h2 {
text-align:center
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */

    .box-drinks, .fm-drink {
        height: 150px;
        width: 150px;
        border-radius:10px;

    }
    .box-dess {
        height: 150px;
        width: 150px;
        border-radius: 10px;
        background-color:saddlebrown;
    }

/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
div {
margin-bottom:10px;
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
div {
margin-bottom:10px;
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
div {
margin-bottom:10px;
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
div {
margin-bottom:10px;
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
div {
margin-bottom:10px;
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
div {
margin-bottom:10px;
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
div {
margin-bottom:10px;
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
div {
margin-bottom:10px;
}
/* END EXTERNAL SOURCE */
