
@{
    ViewBag.Title = "Product";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
}
<h2>Danh sách món ăn</h2>
<div class="list-pro">
    <div class="box-pro">
        <div class="box-img">
            <img src="~/Content/Image/com-tron-han-quoc.jpg" alt="com tron han quoc" title="com tron han quoc" class="fm-size-img" />
        </div>
        <div class="box-des">
            <p>Tên sản phẩm: Trà xanh</p>
            <p>Giá: 150000đ</p>
            <p>Đã bán: ?</p>
            <p><input type="submit" value="Mua ngay" class="fm-btnMua" /></p>
        </div>
    </div>
    <div class="box-pro">
        <div class="box-img">
            <img src="~/Content/Image/com-tron-han-quoc.jpg" alt="com tron han quoc" title="com tron han quoc" class="fm-size-img" />
        </div>
        <div class="box-des">
            <p>Tên sản phẩm: Trà xanh</p>
            <p>Giá: 150000đ</p>
            <p>Đã bán: ?</p>
            <p><input type="submit" value="Mua ngay" class="fm-btnMua" /></p>
        </div>
    </div>
    <div class="box-pro">
        <div class="box-img">
            <img src="~/Content/Image/com-tron-han-quoc.jpg" alt="com tron han quoc" title="com tron han quoc" class="fm-size-img" />
        </div>
        <div class="box-des">
            <p>Tên sản phẩm: Trà xanh</p>
            <p>Giá: 150000đ</p>
            <p>Đã bán: ?</p>
            <p><input type="submit" value="Mua ngay" class="fm-btnMua" /></p>
        </div>
    </div>
    <div class="box-pro">
        <div class="box-img">
            <img src="~/Content/Image/com-tron-han-quoc.jpg" alt="com tron han quoc" title="com tron han quoc" class="fm-size-img" />
        </div>
        <div class="box-des">
            <p>Tên sản phẩm: Trà xanh</p>
            <p>Giá: 150000đ</p>
            <p>Đã bán: ?</p>
            <p><input type="submit" value="Mua ngay" class="fm-btnMua" /></p>
        </div>
    </div>
    <div class="box-pro">
        <div class="box-img">
            <img src="~/Content/Image/com-tron-han-quoc.jpg" alt="com tron han quoc" title="com tron han quoc" class="fm-size-img" />
        </div>
        <div class="box-des">
            <p>Tên sản phẩm: Trà xanh</p>
            <p>Giá: 150000đ</p>
            <p>Đã bán: ?</p>
            <p><input type="submit" value="Mua ngay" class="fm-btnMua" /></p>
        </div>
    </div>
    <div class="box-pro">
        <div class="box-img">
            <img src="~/Content/Image/com-tron-han-quoc.jpg" alt="com tron han quoc" title="com tron han quoc" class="fm-size-img" />
        </div>
        <div class="box-des">
            <p>Tên sản phẩm: Trà xanh</p>
            <p>Giá: 150000đ</p>
            <p>Đã bán: ?</p>
            <p><input type="submit" value="Mua ngay" class="fm-btnMua" /></p>
        </div>
    </div>
    <div class="box-pro">
        <div class="box-img">
            <img src="~/Content/Image/com-tron-han-quoc.jpg" alt="com tron han quoc" title="com tron han quoc" class="fm-size-img" />
        </div>
        <div class="box-des">
            <p>Tên sản phẩm: Trà xanh</p>
            <p>Giá: 150000đ</p>
            <p>Đã bán: ?</p>
            <p><input type="submit" value="Mua ngay" class="fm-btnMua" /></p>
        </div>
    </div>

</div>

