body {
    margin: 0px;
}

#div-top {
    width: 100%;
    height: 80px;
    background-color: aqua;
}

#div-left {
    width: 20%;
    height: auto;
    background-color: green;
    float: left;
}

#div-content {
    width: 80%;
    height: auto;
    background-color: brown;
    float: left;
    padding-bottom: 100px;
}

#div-footer {
    width: 100%;
    clear: both;
}

.fm-menu {
    list-style-type: none;
    display: inline-flex;
}

.fm-link-menu {
    text-decoration: none;
    padding: 15px;
}

#fm-tenshop {
    font-size: 25px;
    font-weight: bold;
    font-family: "Dancing Script", cursive;
}

.fm-link-menu:hover {
    background-color: #bf9369;
    border-radius: 5px;
}

.fm-img-left {
    display: block;
    width: 100px;
    height: 100px;
}

.box-pro {
    width: 200px;
    height: 370px;
    background-color: black;
    border-radius: 25px;
    margin: 10px;
}

    .box-pro:hover {
        box-shadow: 10px 10px 5px aqua;
    }

.box-img {
    width: 150px;
    height: 150px;
    padding: 20px;
}

.fm-size-img {
    width: 150px;
    height: 150px;
}

.box-des {
    background-color: greenyellow;
    text-align: center;
    border-start-start-radius: 20px;
    border-start-end-radius: 20px;
    border-end-start-radius: 20px;
    border-end-end-radius: 15px;
    padding: 5px;
}

.list-pro {
    display: flex;
    flex-wrap: wrap;
}

#id-logo {
    font-family: "Grey Qo", cursive;
    font-weight: bold;
}
